:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm) var(--spacing-xl);
    background-color: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
}

.nav-bar__links {
    display: flex;
    gap: var(--spacing-md);
}

.nav-bar__links a {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 500;
    padding-bottom: 2px;
    position: relative;
    transition: transform 0.2s ease;
}

.nav-bar__links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.2s ease;
}

.nav-bar__links a:hover {
    transform: scale(1.1);
}

.nav-bar__links a:hover::after {
    transform: scaleX(1);
}

.nav-bar__button {
    display: flex;
    gap: var(--spacing-sm);
}

.nav-bar__logo a {
    font-family: var(--font-family-display);
    color: var(--color-primary);
    font-size: var(--font-size-lg);
}

.nav-bar__theme-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s ease, transform 0.2s ease;
}

.nav-bar__language-button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s ease, transform 0.2s ease;
    color: var(--color-text);
}

.nav-bar__cv-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 0.2s ease, transform 0.2s ease;
    color: var(--color-text);
}

.nav-bar__theme-button:hover {
    border-color: var(--color-primary);
    transform: translateY(-2px);
}


@media (max-width: 1024px) {
    :host {
        display: none;
    }
}
